.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  
  .card {
    width: 500px;
    
   
  
  }
  
  .text-center {
    text-align: center;
  }

  .form-control {
    height: 50px;
    font-size: 16px;
  }